@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@section Content
{
  @RenderSection("Styles", false)

   @RenderSection("Scripts", false)
 <div id="Content">
 dsasdasdsad
    @RenderBody()
</div>
}
